HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/node_modules/
!**/dist/

### Agent ###
hippo4j-agent/
**/dependency-reduced-pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
# .vscode/

# maven plugin ignore
*.gpg
.flattened-pom.xml

### Docs ###
docs/node_modules
docs/build
docs/.docusaurus


### Docker ###
docker/conf
docker/target

### OS ###
.DS_Store