#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: build

on:
  push:
    branches: [ develop ]
    paths:
      - '.github/workflows/ci.yml'
      - '**/pom.xml'
      - '**/src/main/**'
      - '**/src/test/**'
      - '!*.md'
      - '!docs/**'
  pull_request:
    branches: [ develop ]
    paths:
      - '.github/workflows/ci.yml'
      - '**/pom.xml'
      - '**/src/main/**'
      - '**/src/test/**'
      - '!*.md'
      - '!docs/**'
  repository_dispatch:
    types: [rerun-ci]

concurrency:
  group: ${{ github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unix:
    name: JDK ${{ matrix.java.version }} - on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      matrix:
        os: [ macos-latest ]
        java:
          - {
            version: 11
          }
          - {
            version: 17
          }
    steps:
      - uses: actions/checkout@v4
      - name: Build with Maven
        run: echo y | mvn clean install -Dskip.gpg=true -Dspotless.apply.skip=true -Dmaven.javadoc.skip=true

  test-coverage:
    if: github.repository == 'opengoofy/hippo4j'
    name: Test coverage report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache Maven Repos
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: hippo4j-maven-third-party-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            hippo4j-maven-third-party-
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 8
      - name: Test with Maven
        run: echo y | mvn -T1C clean install -Dskip.gpg=true -Dspotless.apply.skip=true -Dskip.jacoco.plugin=false
      - name: Upload to Codecov
        run: bash <(curl -s https://codecov.io/bash)
